extends layout

block content
    .pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
        h4(class="display-4") Welcome!
        p(class="lead") Start to editing :
            code src/index.ts
            |  server Express.js app.